html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    background-image: url("./bg.png");
    background-size: 100%;
    color: white;
}

table, tr, td, th {
    border: 1px solid black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.form {
    text-align: center;
    display: flex;
    width: 100%;
    margin: 20px auto;
}

form {
    margin: auto;
}

form > a {
    color: white;
}

form > button {
    width: 10rem;
    height: 3rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    background-color: rgb(201, 201, 201);
}

table {
    margin: auto;
}

.table {
    width: 100%;
}

.tableComponent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.csvButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
}

.csvButton > a {
    color: black;
}

.errors {
    width: 100%;
    margin-top: 2rem;
    text-align:center;
}
